*{
    margin: 0 auto;
    padding: 0;
    display: flexbox;
    box-sizing: border-box;
    max-width: 720 px;
    text-align: center;
}
/* @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  } */
  body{
    width: auto;
    margin: 0 auto;
  }
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: auto;
}
.flex-container .header{
    font-size: x-large;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
section{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* section p{
    width: fit-content;
} */
section img{
    width: 500px;
    height: 400px;
    object-fit:fill;
    margin: 10px auto;
}